.sidebar_parent {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    color: white;
    text-decoration: none;
}

.sidebar {
    color: aliceblue;
    text-decoration: none;
    padding: 10px;
    /* border-bottom: 1px solid rgb(122, 148, 135); */

}

.link {
    color: white;
    text-decoration: none;
    font-size: 18;

}

.sidebar:hover {
    background-color: #496555;
    border-radius: 5px;

}