.login_screen{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "ilustration wallet"
  "ilustration wallet";
  
}

.cover_image{
  height: 100vh;
  width: auto;
  object-fit: cover; /* Menyesuaikan gambar tanpa distorsi */
  
}

.title{
  font-size: 50;
}

.ilustration_box{
grid-area: ilustration;
}

.connect_wallet_box {
grid-area: wallet;
background-color: white;
padding: 5rem;
/* height: 100vh; */

}

.btn_connect{
  font-size: 20;
  background-color: rgb(3, 13, 9);
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.btn_connect:hover{
  background-color: white;
  color: black;
}

.book_container{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  color: rgba(226, 214, 226, 0.87);
  gap: 20px;
  padding: 10px;
}

.book_wrapper {
  background-color: #e9f0f4;
  width: 300px;
  height: 400px;
  color: black;
  border-radius: 10px;
}
.book {
  padding: 20px;
  margin-bottom: 200px;
}

.button_action{
  text-align: center;
}

.button_action_buy {
  text-decoration: none;
  background-color: rgb(51, 99, 51);
  padding: 10px;
  margin-top: 10px;
  margin: 1px;
  color: white;
  border-radius: 5px;
}

.button_action_detail {
  text-decoration: none;
  background-color: rgb(210, 169, 73);
  padding: 10px;
  margin-top: 10px;
  margin: 1px;
  color: white;
  border-radius: 5px;
}

@media only screen and (max-width:550px) {
  .login_screen{
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 
      "ilustration"
      "wallet";
      
  }
  
}